<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MeGOGYM</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <a class="navbar-brand" href="~/Home/Index">
            <img class="navbar-logo" src="~/images/Logo/Remove_bg_Logo.png" alt="MEGOGYM">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="~/Home/AboutUs">ABOUT US</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="~/Home/Shop">SHOP</a>
                </li>
                <li class="nav-item">
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control search-box" type="search" placeholder="What are you looking for..." aria-label="Search">
                    </form>
                </li>
                <li>
                    <a class="nav-item" href="~/Home/Index">
                        <img class="cart-icon" src="~/images/Navbar/Cart.png" alt="Cart">
                    </a>
                </li>
                <li>
                    <a class="nav-item" href="~/Home/Index">
                        <img class="account-icon" src="~/images/Navbar/Account.png" alt="Account">
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <section class="hero-section text-center text-white d-flex align-items-center" style="background: url('/images/wp11235101 1.png') no-repeat center center; background-size: cover;">
        <div class="container">
            <div>
                <h1 class="display-4">MEGOGYM</h1>
                <p class="lead">Gear Up, Rise Up.</p>
            </div>
        </div>
    </section>

    <section class="MGGLastestProductSection">
        <div class="container">
            <div class="row">
                <div class="col-md-6 d-flex justify-content-center align-items-center">
                    <div>
                        <h2>MEGOGYM</h2>
                        <h2>Latest products</h2>
                        <a href="#shop" class="btn btn-primary mt-3">See More</a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-sm-6">
                            <img src="~/images/Products/Black_T-Shirt.png" class="card-img-top" alt="Sports T-Shirt">
                        </div>
                        <div class="col-sm-6">
                            <img src="~/images/Products/White_T-Shirt.png" class="card-img-top" alt="Sports T-Shirt">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="KnowMoreAboutUsSection" style="background-color: rgba(5,25,52,1)">
        <div class="container mt-5">
            <div class="row">
                <div class="col-md-6">
                    <img src="~/images/Logo/Logo.png" class="card-img-top" alt="Logo">
                </div>
                <div class="col-md-6 text-center">
                    <div class="text">
                        <h1 class="h1-text">MEGOGYM</h1>
                        <p class="p-text">A high quality fitness brand, diverse designs and </p>
                        <p class="p-text">high comfort in training for everyone.</p>
                    </div>
                    <div>
                        <a href="~/Home/AboutUs" class="btn btn-primary">Know more about us</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section id="shop" class="CheckThisOut">
    <div class="container mt-5">
        <h2 class="text-center">Latest Products</h2>
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <img src="~/images/Products/Black_T-Shirt.png" class="card-img-top" alt="Sports T-Shirt">
                    <div class="card-body">
                        <h5 class="card-title">Sports T-Shirt</h5>
                        <p class="card-text">Slim Fit</p>
                        <p class="card-text">149,000 VND</p>
                        <a href="#" class="btn btn-primary">Buy Now</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <img src="~/images/Products/White_T-Shirt.png" class="card-img-top" alt="Sports T-Shirt">
                    <div class="card-body">
                        <h5 class="card-title">Sports T-Shirt</h5>
                        <p class="card-text">Slim Fit</p>
                        <p class="card-text">149,000 VND</p>
                        <a href="#" class="btn btn-primary">Buy Now</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <img src="~/images/Products/Black_logo_T-Shirt.png" class="card-img-top" alt="Sports T-Shirt">
                    <div class="card-body">
                        <h5 class="card-title">Sports T-Shirt</h5>
                        <p class="card-text">Slim Fit</p>
                        <p class="card-text">149,000 VND</p>
                        <a href="#" class="btn btn-primary">Buy Now</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <img src="~/images/Products/Gray_T-Shirt.png" class="card-img-top" alt="Sports T-Shirt">
                    <div class="card-body">
                        <h5 class="card-title">Sports T-Shirt</h5>
                        <p class="card-text">Slim Fit</p>
                        <p class="card-text">149,000 VND</p>
                        <a href="#" class="btn btn-primary">Buy Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>

    <section class="ContactInformation">
        <div class="container mt-5">
            <a href="#" class="Border-top">HIGH QUALITY FITNESS BRAND</a>
            <div class="row">
                <div class="col-md-6">
                    <img src="~/images/Logo/Remove_bg_logo.png" class="card-img-top" alt="Logo">
                </div>
                <div class="col-md-6">
                    <div class="contact">
                        <a class="" href="~/Home/Index">
                            <img class="contact-icon" src="~/images/Footer/facebook.png" alt="Facebook">
                            Facebook
                        </a>
                        <a class="" href="https://www.instagram.com/megogym_/">
                            <img class="contact-icon" src="~/images/Footer/instagram.png" alt="Instagram">
                            Instagram
                        </a>
                        <a class="" href="~/Home/Index">
                            <img class="contact-icon" src="~/images/Footer/tiktok.png" alt="Tiktok">
                            Tiktok
                        </a>
                        <a class="" href="~/Home/Index">
                            <img class="contact-icon" src="~/images/Footer/youtube.png" alt="Youtube">
                            Youtube
                        </a>
                        <a class="" href="~/Home/Index">
                            <img class="contact-icon" src="~/images/Footer/gmail.png" alt="Email">
                            Email
                        </a>
                        <a class="" href="~/Home/Index">
                            <img class="contact-icon" src="~/images/Footer/phone.png" alt="Phone">
                            0797826003
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
S
    <footer class="footer mt-5">
        <div class="container text-center">
            <p>2025 | MEGOGYM | All Rights Reserved</p>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="scripts.js"></script>
</body>
</html>